@use 'src/styles/vars';

.logo-weight {
  width: 75px;
  margin: auto;
  float: left;
  padding-left: 1em;
  padding-top: 1em;

  @media (max-width: 900px) {
    width: 5em;
  }
}

.modal-weight {
  background-color: white;
  width: 36em;
  height: 27em;
  box-shadow: vars.$box-shadow;
  padding: .6em;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em; 
  border-radius: 2em;
  border-top: 2em solid vars.$weight-color;

  @media (max-width: 900px) {
    width: 26em;
    margin-left: 0em;
    height: auto;
    position: absolute;
    top: 72.9em;
  }  
}

.modal-button-weight {
  background-color: #3d5499;
  color: #fff;
  padding: 0.89em;
  border: none;
  border-radius: 2em;
  margin: .5em;
  width: 5em;
  height: 1.5em;
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 1.65em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: vars.$secondary-color;
    transition: all .3s ease;
  }

  @media (max-width: 900px) {
    width: 4em;
    font-size: 1.5em;
  }
}

.mod-form-weight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  padding-left: 5em;

  @media (max-width: 900px) {
    width: 20em;
    margin: 2em auto;
    padding-left: 2em;
  }
}

.mod-label-weight {
  margin: 0.5em 0;
  font-size: 1.1em;
  font-weight: 300;
  color: #808080;
  font-weight: bold;
}

.mod-input-weight {
  padding: .46em;
  border: 2px solid vars.$secondary-color;
  width: 50%;
  font-size: 1em;
  margin: 0.3em 0;
  border-radius: 5em;
}

.mod-title-weight {
  padding-left: 2em;
  color: #3D5499;
  margin-top: 1em;
  margin-left: 1em;
  font-size: 2em;

  @media (max-width: 900px) {
    width: 85%;  
  }
}

// .trackers-modal {
//   position: absolute;
//   width: 100%;
//   background: transparent;
//   margin: 0 auto;
// } 

.illu-weight {
  position: absolute;
  width: 11em;
  bottom: 2em;
  left: 2em;

  @media (max-width: 900px) {
    display: none;
    }
}
