@use 'src/styles/vars';

.favs-todo {
  height: 42vh; //21em
  display: flex;
  border-radius: 20px 20px 0 0;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    height: auto;
  }
}

.favs,
.todolist {
  flex: 1;
  padding: 2em;
  border-radius: 2em;
  box-shadow: vars.$box-shadow;
  background-color: white;
}

.favs {
  margin-right: 2em;
  @media screen and (max-width: 900px) {
    margin-right: 0;
    margin-bottom: 2em;
  }  

  &-content {
      overflow-y: scroll;
      // height: 18em;
      height: 17em;
  }

  &__item {
    display: flex;
    align-items: stretch;
    height: 110px;
    margin-bottom: 1em;
    background-color: white;
    border: 1px solid vars.$background-color;
    border-radius: 20px;
  }

  &__overview {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-width: 110px;

    & svg {
        font-size: 1.5em;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        cursor: pointer;
        color: vars.$hover-fav;

        &:hover {
            color: vars.$background-color;
        }
    }
  }

  &__thumbnail {
    max-width: none;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  &__excerpt {
    flex: 3;
    overflow: hidden;
    padding: 1em;
    background-color: vars.$background-color;
    border-radius: 0 20px 20px 0;
    margin-right: 1em;

    & h3 {
      @media screen and (max-width:900px) {
        font-size: 15px;
        font-weight: bolder;
      }
    }

    & p {
      font-size: 14px;
      line-height: 1.6;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      height: 67.2px;
      margin: 0 auto !important;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      @media screen and (max-width:900px) {
        font-size: 12px;
      }
    }
  }
}

.favs-content::-webkit-scrollbar {
  width: 12px;
}

.favs-content::-webkit-scrollbar-track {
  background-color: vars.$background-color;
  border: none;
}

.favs-content::-webkit-scrollbar-thumb {
  background-color: vars.$primary-color;
  border: none;
  border-radius: 5em;
}

.favs-content::-webkit-scrollbar-button {
  background-color: transparent;
  border: none;
  border-radius: 5em;
} 

.favs-content::-webkit-scrollbar-corner {
  background-color: vars.$primary-color;
  border-radius: 5em;
}
