$primary-color: #3d5499;
$secondary-color: #6abfbd;
$background-color: #f3f6ff;

$food-color: #d5e4ba;
$water-color: #c2e4f0;
$sport-color: #f3aaa2;
$sleep-color: #9ea2cb;
$weight-color: #fcdcac;
$profile-color:lightgray;

$box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$full-radius:5em;
$light-radius:1em;

$trackers-icons-width:5em;

$hover-fav:darkred;

$input-border: 0.15em solid #6abfbd;
$input-radius:2em;
$input-padding:.46em;
$input-fontsize: 1em;
$input-margin:0.5em 0;

$input-width-S:8em;
$input-height-S:3.5em;
